// Here you can add other styles
input.ng-invalid.ng-touched {
    border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
    border: 1px solid #509D12;
}

.validationerror {
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 132, 0, 0.027);
    font-weight: bold;
    color:#DA3637;
    
}

.breadcrumb {
    background-color: #2b84c2;
    
}
.breadcrumb-item span {
    color: #fff;
}
.sidebar .nav-link i {
    color: #fff;
}
.breadcrumb-menu .btn-group .btn {
    color: #fff;
}

.breadcrumb-menu .btn a {
    color: #fff;
}


.hrStyle {
    border-top: 2px solid rgb(43, 33, 102);
}